<div id="admin">
	
	<h1>Admin Panel</h1>
	
		<ul>
			<li><a href="/admin/user_admin">Users</a></li>

			<li><a href="/admin/recipe_admin">Recipes</a></li>

			<li><a href="/admin/ingredient_admin">Ingredients</a></li>
	
			<li><a href="/admin/category_admin">Categories</a></li>

			<li><a href="/">Home</a></li>
		</ul>
</div>