<h1>Choose a User Name</h1>

<form action="/save_user" method="post">
  <h2>Name: <input type="text" name="name"></h2>
  <p>Names are unique and are used to store <em>YOUR</em> recipes.</p>
</form>

<a href='/'>Home</a>