<h1>MAKE RECIPES</h1>

<form action="/save_recipe" method="post" id="recipeform">
  <ul>
    <li>YOUR NAME: <input type="text" name="name"></li>
    <li>RECIPE NAME: <input type="text" name="recipe"></li>
    <li>CATEGORY: <select name="categorylist" form="recipeform"> 
                    <option value="cakes">Cakes</option>
                    <option value="pies">Pies</option>
                    <option value="casseroles">Casseroles</option>
                    <option value="pizza">Pizza</option>
                    <option value="dessert">Dessert</option>
                    <option value="dinner">Dinner</option>
                    <option value="healthy">Healthy</option>
                    <option value="comfort">Comfort</option>
                    <option value="breakfast">Breakfast</option>
                    <option value="lunch">Lunch</option>
                    <option value="other">Other</option>
                    <option value="beverages">Beverages</option>
                </select>
              </li>
    <li>INSTRUCTIONS: <textarea cols="40" rows="5" name="instructions"></textarea></li>
  </ul>
      <ol>
        <li>INGREDIENT: <input type="text" name="ingredient1"></li>
        <li>INGREDIENT: <input type="text" name="ingredient2"></li>
        <li>INGREDIENT: <input type="text" name="ingredient3"></li>
        <li>INGREDIENT: <input type="text" name="ingredient4"></li>
        <li>INGREDIENT: <input type="text" name="ingredient5"></li>
        <li>INGREDIENT: <input type="text" name="ingredient6"></li>
        <li>INGREDIENT: <input type="text" name="ingredient7"></li>
        <li>INGREDIENT: <input type="text" name="ingredient8"></li>
        <li>INGREDIENT: <input type="text" name="ingredient9"></li>
        <li>INGREDIENT: <input type="text" name="ingredient10"></li>
        <li>INGREDIENT: <input type="text" name="ingredient11"></li>
        <li>INGREDIENT: <input type="text" name="ingredient12"></li>
        <li>INGREDIENT: <input type="text" name="ingredient13"></li>
        <li>INGREDIENT: <input type="text" name="ingredient14"></li>
        <li>INGREDIENT: <input type="text" name="ingredient15"></li>
      </ol>
<input type="submit">
  
  
</form>