<div id="home">
	<div id="recipe_search">
		<form action="/recipe_search" method="get">
	
			<p>Search for Recipes:</p> 
				
				<input type="text" name="search">
				
				<input type="submit" value="">

		</form>
	</div>
	
	<div id="recipes_by_user">
		<form action="/user_recipes" method="get" id="nameform">
	
			<p>Recipes by Username</p>
			
			<select name="id" form="nameform">
						
				<% @names.each do |n| %>
					
				<option value="<%= n.id %>"><%= n.name %></option>
		
				<% end %>
				
			</select>
	
			<input type="submit" value="">
	
		</form>
	</div>
	
	<div id="recipes_by_category">
		
		<p>Recipes by Category</p>

		<form action="/recipes_by_category" method="get" id="categoryform">
	
			<select name="category" form="categoryform">
		
				<% @categories.each do |c| %>
		
				<option value="<%= c.id %>"><%= c.name %></option>
			
				<% end %>
		
				<input type="submit" value="">
		
			</select>
	
		</form>
	</div>
</div>