<h1>RECIPES</h1>

<h2><a href="/create_user">CREATE USER</a></h2>
<p>Users are unique if name already exists, try again.</p>

<h2><a href="/create_recipe">CREATE RECIPE</a></h2>
<p>Recipes are unique, be specific in your naming.</p>

<form action="/recipe_search" method="get">
<h2>Search for Recipes: <input type="text" name="search"></h2>
</form>

<h2>USER RECIPES</h2>
<form action="/user_recipes" method="get" id="nameform">
					<select name="id" form="nameform">
					<%@names.each do |n|%>
					<option value="<%=n.id%>"><%=n.name%></option>
					<%end%>
					<input type="submit">
					
					</select>
</form>
