<h1>RECIPES</h1>

<h2><a href="/create_user">CREATE USER</a></h2>
<p>UNIQUE USERS IF USER WITH NAME EXISTS TRY AGAIN</p>

<h2><a href="/create_recipe">CREATE RECIPE</a></h2>
<p>PLEASE GIVE UNIQUE RECIPE NAME IE PEPPERONI PIZZA</p>

<form action="/recipe_search/:name" method="get">
<h2>SEARCH RECIPES: <input type="text" name="search"></h2>

<h2>DISPLAY 10 MOST RECENTLY CREATED RECIPES</h2>