<form action="/recipe_search" method="get">
	
<h2>Search for Recipes: <input type="text" name="search"><input type="submit" value="Search!"></h2>

</form>

<h2>Look up recipes by user.</h2>

<form action="/user_recipes" method="get" id="nameform">
	
	<select name="id" form="nameform">
						
		<% @names.each do |n| %>
					
			<option value="<%= n.id %>"><%= n.name %></option>
		
		<% end %>
				
	</select>
	
	<input type="submit" value="Search!">
	
</form>

<h2>Look up recipes by category.</h2>

<form action="/recipes_by_category" method="get" id="categoryform">
	
	<select name="category" form="categoryform">
		
		<% @categories.each do |c| %>
		
			<option value="<%= c.id %>"><%= c.name %></option>
			
		<% end %>
		
		<input type="submit" value="Search!">
		
	</select>
	
</form>