html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
	background: #666666;
}

header input[type=text] {
	padding:5px; 
	border:2px solid #ccc; 
	-webkit-border-radius: 5px;
    border-radius: 5px;
	position: relative;
	right: 5px;
	bottom: 5px;
}

header input[type=text]:focus {
	border-color:#333; 
}

header input[type=submit] {
	padding: 5px 15px;
	background: url("user_select.png");
	border: 0 none;
	cursor: pointer;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	background-repeat: no-repeat;
	background-position-x: 0px;
	background-position-y: 7px;
	background-size: 18px;
}

a {
	text-decoration: none;
	color: black;
}

#container {
	background: #808000;
	width: 1000px;
	margin: 0 auto;
	font-family: sans-serif;
	height: 800px;
}

header {
	width: 1000px;
	height: 90px;
	background:#930;
}

#header_content {
	display: inline-block;
	float: left;
}

#header_content p {
	font-size: 50px;
	margin: 0;
	margin-top: 10px;
	margin-left: 16px;
}

header nav {
	float: right;
	margin-right: 20px;
}

header ul li {
	display: inline-block;
	font-size: 20px;
	margin-top: 25px;
	margin-right: 30px;
}

header form {
	position: relative;
	bottom: 2px;
}

#recipe_search {
	width: 800px;
	margin: 0 auto;
	text-align: center;
}

#recipe_search p {
	font-size: 27px;
}

#recipe_search input[type=text] {
	position: relative;
	bottom: 3px;
}

#recipe_search input[type=submit] {
	padding: 5px 15px;
	background: url("pizza.png");
	border: 0 none;
	cursor: pointer;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	background-repeat: no-repeat;
	background-position-x: -2px;
	background-position-y: -4px;
	background-size: 37px;
}

#recipes_by_user {
	width: 800px;
	margin: 0 auto;
	text-align: center;
}

#recipes_by_user p {
	font-size: 27px;
}

#recipes_by_user input[type=submit] {
	padding: 5px 15px;
	background: url("user_select.png");
	border: 0 none;
	cursor: pointer;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	background-repeat: no-repeat;
	background-position-x: 0px;
	background-position-y: 1px;
	background-size: 18px;
}

#recipes_by_category {
	width: 800px;
	margin: 0 auto;
	text-align: center;
}

#recipes_by_category p {
	font-size: 27px;
}

#recipes_by_category input[type=submit] {
	padding: 5px 15px;
	background: url("chef.png");
	border: 0 none;
	cursor: pointer;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	background-repeat: no-repeat;
	background-position-x: 0px;
	background-position-y: -3px;
	background-size: 40px;
}

#content {
	clear: both;
}

#admin li{
	margin: 10px;
}