<h1>Create a Recipe</h1>

<form name="recipe" action="/save_recipe/user/<%= @user.id %>"  id="recipe_form" method="post">
  
  <ul>
		
	<li>Recipe Name: <input type="text" name="recipe_name" id="recipe_name">
	<span class="error">Please Give the Recipe a Name.</span></li>
	
    <li>Category: <select name="categorylist" form="recipe_form">
		
			 	  	<% @categories.each do |c| %>
					
                  	<option value="<%= c.id %>"><%= c.name %></option>
					
				  	<% end %>
					
     		   	  </select>
    </li>
	
    <li>Instructions: <textarea cols="40" rows="5" name="instructions" id="instructions"></textarea>
	<span class="error">Please Give Some Instructions.</span></li>
	
  </ul>
  
      <ol>
		  
        <li>Ingredient: <input type="text" name="i1" id="ingredient">
		<span class="error">Please Enter at Least One Ingredient Here.</span></li>
        <li>Ingredient: <input type="text" name="i2"></li>
        
		<li>Ingredient: <input type="text" name="i3"></li>
        
		<li>Ingredient: <input type="text" name="i4"></li>
        
		<li>Ingredient: <input type="text" name="i5"></li>
        
		<li>Ingredient: <input type="text" name="i6"></li>
        
		<li>Ingredient: <input type="text" name="i7"></li>
        
		<li>Ingredient: <input type="text" name="i8"></li>
        
		<li>Ingredient: <input type="text" name="i9"></li>
        
		<li>Ingredient: <input type="text" name="i10"></li>
        
		<li>Ingredient: <input type="text" name="i11"></li>
        
		<li>Ingredient: <input type="text" name="i12"></li>
        
		<li>Ingredient: <input type="text" name="i13"></li>
        
		<li>Ingredient: <input type="text" name="i14"></li>
        
		<li>Ingredient: <input type="text" name="i15"></li>
		
      </ol>
	  
<input type="submit" value="Create it!">

</form>

<a href='/'>Home</a>