<head>
	
<script>

function validateName() {
	
	var y = document.forms["recipe"]["recipe"].value;
	
	var z = document.forms["recipe"]["instructions"].value;
	
	var i = document.forms["recipe"]["i1"].value;
	
	if (y == null || y == "") {
		alert("Recipe must be filled out");
		return false;
	}
	
	else if (z == null || z == "") {
		alert("Instructions must be filled out");
		return false;
	}
	
	else if (i == null || i == "") {
		alert("Fill out at least the first Ingredient");
		return false;
	}
}

</script>

</head>

<body>

<h1>Create a Recipe</h1>

<form name="recipe" action="/save_recipe/user/<%= @user.id %>"  id="recipeform" onsubmit="return validateName()" method="post">
  
  <ul>
		
	<li>Recipe Name: <input type="text" name="recipe" value="e.g. pepperoni pizza"></li>
	
    <li>Category: <select name="categorylist" form="recipeform">
		
			 	  	<% @categories.each do |c| %>
					
                  	<option value="<%= c.id %>"><%= c.name %></option>
					
				  	<% end %>
					
     		   	  </select>
    </li>
	
    <li>Instructions: <textarea cols="40" rows="5" name="instructions"></textarea></li>
	
  </ul>
  
      <ol>
		  
        <li>Ingredient: <input type="text" name="i1"></li>
		
        <li>Ingredient: <input type="text" name="i2"></li>
        
		<li>Ingredient: <input type="text" name="i3"></li>
        
		<li>Ingredient: <input type="text" name="i4"></li>
        
		<li>Ingredient: <input type="text" name="i5"></li>
        
		<li>Ingredient: <input type="text" name="i6"></li>
        
		<li>Ingredient: <input type="text" name="i7"></li>
        
		<li>Ingredient: <input type="text" name="i8"></li>
        
		<li>Ingredient: <input type="text" name="i9"></li>
        
		<li>Ingredient: <input type="text" name="i10"></li>
        
		<li>Ingredient: <input type="text" name="i11"></li>
        
		<li>Ingredient: <input type="text" name="i12"></li>
        
		<li>Ingredient: <input type="text" name="i13"></li>
        
		<li>Ingredient: <input type="text" name="i14"></li>
        
		<li>Ingredient: <input type="text" name="i15"></li>
		
      </ol>
	  
<input type="submit" value="Create it!">

</form>

<a href='/'>Home</a>

</body>
